html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1{

  /* color code - 204, 204, 255*/

  color: #CCCCFF;
  position: absolute;
  font-size: 75px;
  font-family: "Kings";
  left: 27%;
}