html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* title */
h1{

  /* color code - 204, 204, 255*/
  color: #CCCCFF;
  position: absolute;
  font-size: 75px;
  font-family: "Kings";
  left: 27%;
}

/* Play button */
.play-btn{
  position: absolute;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: 50px;
  padding: 25px, 15px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
  width: 225px;
}

.play-btn .arrow{
  transform: translate(+50%, +50%);
  float: middle, right;
  padding-right: 8px;
  width: 16px;
  rotate: 270deg;
}

.play-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}


/* Controls / Notation*/
.sidenav {
  height: 100%;
  width: 225px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: auto;
  padding-top: 20px;
  background-color: #CCCCFF;
}

/* controls */
.control-btn{
  display: block;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: xx-large;
  padding: 25px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
}
.control-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}

/* notations */
.notation-btn{
  display: block;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: xx-large;
  padding: 25px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
}

.notation-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}

.dropdown-btn {
  display: block;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: x-large;
  padding: 25px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
}

/* when cursor is over the button */
.dropdown-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}

/* keeps it this colour*/
.active {
  background-color: #FFFFCC;
  color: #CCCCFF;
}

.dropdown-container{
  display: none;
  background-color: #CCCCFF;
  color: #FFFFCC;
  padding-left: middle;
  font-size: x-large;
  font: bold;
}

.arrow{
  color: #FFFFCC;
  float: middle, right;
  padding-right: 8px;
  width: 16px;
}

.arrow .active .dropdown-btn{
  float: middle, right;
  padding-right: 8px;
  width: 16px;
}

input{
  background-color: #FFFFCC;
  color: #CCCCFF;
  float: middle, inline-end;
  font-size: large;
  width: 25px;
  border: none;
}

.set-btn{
  background-color: #CCCCFF;
  color: #FFFFCC;
  padding-left: right;
  font-size: large;
  border-color: #FFFFCC;
}

.img{
  position: inline;
  float: middle;
  max-width: 300px;
}

::placeholder{
  color: lightgray;
  float: middle;
}

.solve-btn{
  display: block;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: xx-large;
  padding: 25px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
}

.solve-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}

.reset-btn{
  display: block;
  background-color: #CCCCFF;
  font-family: "Kings";
  color: #FFFFCC;
  font-size: xx-large;
  padding: 25px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;

  /* keeps it the opposite colour for a bit longer */
  transition: background-color 0.3s;
}

.reset-btn:hover {
  background-color: #FFFFCC;
  color: #CCCCFF;
}